{{define "base" }}
    <!doctype html>
    <html lang="en">

    {{template "header" .}}

    <body>

    {{block "navbar" .}}
    {{end}}

    {{block "content" .}}
    {{end}}

    {{template "service-info" .}}
    
    {{block "js" .}}
    {{end}}

    {{template "footer" .}}

    </body>
    </html>

{{end}}