{{define "footer"}}
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <hr>
                {{if eq .IsAuthenticated true}}                
                    <small class="text-muted">Zalogowano {{ .UserName }}</small>
                {{else}}
                    <small class="text-muted">Niezalogowano</small>
                {{end}}
            </div>
        </div>
    </div>
{{end}}