{{template "base" .}}

{{define "title"}}Logowanie{{end}}

{{define "content" }}
<div class="container">
    <div class="row">
        <div class="col">
            <h2 class="mt-5">Uwierzytelnianie</h2>
            <hr>
            Serwis uwierzytelniania użytkowników
        </div>
    </div>
</div>
{{end}}

{{define "js"}}
    <script>
    
    </script>
{{end}}
