{{template "base" .}}

{{define "title"}}Logowanie{{end}}

{{define "content" }}
    <div class="container">
        <div class="row">
            <div class="col">
    <h1 class="mt-5 text-center">Serwis uwierzytelniania użytkowników</h1>
</div>
</div>
</div>
{{end}}

{{define "js"}}
    <script>
    
    </script>
{{end}}
